.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px 10px;

  &.blue {
    border: 1px solid #3d5afe;
  }

  &.red {
    border: 1px solid red;
  }

  img {
    object-fit: cover;
    width: 200px;
  }

  span {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    max-width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
  }
}
